.main-content {
    width: 100%;
}
.main-slide {
    width: 100%;
    height: 700px;
    position: relative;
}
.slide-img {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 1460px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
.slide-img li {
    list-style: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
}
.slide-img li.active {
    opacity: 1;
    transform: translateX(0);
}
.slide-img li:not(.active) {
    transform: translateX(100%);
}
.slide-img li img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.page-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    z-index: 200;
}
.page-left-btn {
    left: 15%;
}
.page-right-btn {
    right: 15%;
}
.page-left-btn:hover,
.page-right-btn:hover {
    background-color: rgba(0, 0, 0, 0.832);
}
.main-slide i {
    font-weight: bold;
    font-size: 3rem;
    color: white;
}
.visible {
    display: block;
}
.hidden {
    display: none;
}
.txt-box {
    position: absolute;
    width: 400px;
    height: 260px;
    right: 150px;
    top: 200px;
    margin: 0;
    padding: 0;
}
.txt-box .tit1 {
    font-size: 24px;
    font-weight: 900;
    margin: 0px;
    color: black;
}
.txt-box .tit2 {
    font-size: 24px;
    font-weight: 900;
    padding: 0px;
    margin-top: 2px;
    color: red;
}
.txt-box .txt1 {
    font-size: 13px;
    font-weight: bold;
    color: black;
    margin: 20px 0px 0px 0px;
}
.txt-box .txt2 {
    font-size: 13px;
    font-weight: bold;
    color: black;
    padding: 0px;
    margin: 0px 0px 20px 0px;
}
.btn-link {
    display: flex;
    justify-content: center;
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: red;
    border-radius: 20px;
    color: white;
}
.btn-link:hover {
    background-color: rgba(0, 0, 0, 0.0);
    border: 2px solid red;
    color: red;
}    
.btn-link i {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}
.btn-link:hover i {
    color: red;
}
.page-no {
    position: absolute;
    font-size: 14px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    bottom: 40px;
    left: 50%;
    background-color: #aaa;
    text-align: center;
    /* font-weight: bold; */
    border-radius: 15px;
    opacity: 0.8;
}
