/* /* ImgScroll.css */
.slider-container-wrap {
    width: 1460px;
    height: 500px;
    margin: 100px auto;
}
.slider-container {
    position: relative;
    overflow: hidden;
    width: 1460px;
    height: 400px;
    margin: 0px auto;
}
.item-list {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: 300px;
    left: 0px;
    padding-left: 10px;
}

.item-list > li {
    flex: 0 0 272px;
    margin: 0px 10px;
    transition: transform 1s ease;
}

.item-content img {
    width: 272px;
    height: 272px;
}
.item-comment {
    width: 272px;
    height: 15px;
    font-size: 13px;
    text-align: center;
    color: #555454;
    overflow: hidden;
}
.item-name {
    font-weight: bold;
    text-align: center;
}
.discount-price {
    font-size: 18px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.control-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 12px;
}
.control-item {
    margin: 0px 2px;
    width: 10px;
    height: 10px;
    border: 1px solid #aaa;
    border-radius: 50%;
    background-color: rgb(234, 236, 230);
}
.active {
    background-color: white;
}

