/* App.css 또는 관련 CSS 파일 */
.wrap {
  position: relative;
  width: 100%; /* 부모 요소의 너비를 100%로 설정 */
  box-sizing: border-box; /* padding과 border를 포함한 너비를 설정 */
}
li {
  list-style: none;
}
.main-menu-link {
  text-decoration: none; 
  color: inherit; 
}

.header-wrap {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 1460px; /* 자식 요소의 너비를 100%로 설정 */
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-sizing: border-box; /* padding과 border를 포함한 너비를 설정 */
  background-color: white;
  margin: 0 auto;
}
.header-logo {
  width: 25%;
  margin: 0px 0px;
}
h1 {
  font-weight: bold;
  cursor: pointer;
}
.main-menu-wrap {
  width: 60%;
  display: flex;
  z-index: 10;
}
.main-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100px;
  line-height: 100px;
  margin: 0px 20px;
}
.main-menu> li {
  width: 120px;
  height: 100px;
  line-height: 100px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.my-menu-wrap {
  width: 15%;
}
.my-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100px;
  line-height: 100px;
  margin: 0;
}
.my-menu> li {
  width: 25px;
  margin: 0px 10px;
  height: 100px;
  line-height: 100px;
  font-size: 16px;
  cursor: pointer;
}
.my-menu> li> i {
  font-weight: bold;
  font-size: 1.5rem;
}
.container-wrap {
  width: 100%;
  margin-top: 100px;
}
.footer-wrap {
  width: 100%;
  margin-top: 100px;
}